html {
	font-size: 10px;
}

img {
	max-width: 100%;
}

body {
	margin: 0;
	background-color: grey;
	background-image: url(../img/man/Wiki-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;	
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

a:link {
	color: #00c3ff;
}

a:visited {
	color: #00c3ff;
}

a:hover {
	color: yellow;
}

.top-nav {
	font-family: 'Titan One', cursive;
	border: 7px dashed #630000;
	background-color: #010d30;
	position: relative;
}

.top-nav_btn {
	display: none;
	width: 40px;
	height: 40px;
	border: none;
	color: red;
	background-color: transparent;
	font-size: 30px;
	position: absolute;
	right: 50px;
	top: -62px;
}

.top-nav_btn:hover {
	cursor: pointer;
}

.top-nav_menu { 
	list-style: none;
	padding: 0px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.top-nav_menu li {
	padding-right: 70px;
}

.top-nav_menu li:last-child {
	padding-right: 0px;
}

.top-nav_menu a {
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: red;
	font-weight: 700;
}

.top-nav_menu a::after {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-color: #e04802;
	transform: translateY(1px) scale(0);
}

.top-nav_menu a:hover {
	color:#01afe0;
	
}

.top-nav_menu a:hover::after {
	transform: translateY(25px) scale(1);
}

.jason {
	margin-top: 20px;
	font-size: 16px;
	background: rgba(0,0,0,0.7);
	padding: 10px;
	border: 1px solid grey;
}

.jason p { 
	font-family: 'Roboto Slab', serif;
	color: #e0dede;
    margin: 5px;
    letter-spacing: 0.3px;
    font-weight: 600;
   }

.jason h1, h2 {
	font-family: 'Titan One', cursive;
	color: #bc0f0f;

}

.kart {
	padding: 5px;
	margin-top: 20px;
	background: rgba(0,0,0,0.7);
	border: 1px solid grey;
}

.kart h1 {
	font-family: 'Titan One', cursive;
	font-size: 32px;
	padding-top: 10px;
	color: #bc0f0f;
}

.tab {
	font-family: 'Roboto Slab', serif;
	margin: 10px;
	padding: 2px;
	font-size: 14px;
	font-weight: 900;
}

.footer {
	background-color: rgba(57, 61, 76, 1);
	color: #e0670b;
	padding: 25px 0;
	margin-top: 50px;
}

.footer p {
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
}

.footer a {
	text-decoration: none;
}

.death {
	margin-top: 50px;
}

.footer pre {
	font-size: 16px;
	margin-top: 5px;
}

.footer small {
	font-size: 14px;
	display: block;
	line-height: 16px;
}

.footer_main {
	text-align: center;
}

.footer ul {
	padding: 0;
	list-style: none;
}

.footer li {
	line-height: 32px;
}

.footer-contacts {
	text-align: right;

	margin-bottom: 30px;
}

.footer-links {
	text-align: right;
}

.footer-links li {
	display: inline-block;
	margin-left: 10px;
}